
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

.headerLogo {
    margin-top: 0px;
    position: relative;
    margin: auto;
    font-size: 50px;
    font-family: 'Monoton', cursive;
    top: 300px;
    left: 400px;
    width: 800px;
    height: 90px;
    padding: 20px;
    color: #fff;
    
}

